
body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 400;
	background-color: rgba(0, 0, 0, 0.02);
}

.darksection{
	background-color:#d4d4d5;
}

.paragcenter{

    text-align: -webkit-center;
    text-align: center;
}

.buttoncolor{
	background-color:#ffbb00;
}

.contactInfo{

    text-align: center;
    text-align: -webkit-center;
    margin-bottom: 15px;
    border-style: dashed;
    border-color: orange;
    border-left-style: none;
    border-right-style: none;
    margin-top: 10px;
}

.top-bar-section ul li > a{

	color:#000;
	background-color: #FAFAFA!important;
	font-size: 15px;

}

.imgback{
    padding-left: 10px;
    padding-top: 2px;
}

.top-bar , .contain-to-grid , .top-bar.expanded , .imgback{
	background-color: #FAFAFA;
}

.top-bar-section ul li > a:hover{
color:#E59B46!important;	
}

.shadow{
box-shadow: 0 6px 4px -4px rgba(0,0,0,.3);	
}

/*Sticky OffCanvas Menu*/

@media (max-width: 43.938em){
	.mycontent{height:95vh;overflow-y:scroll;}

}
@media (min-width: 43.939em){
	.mycontent{height:100%;overflow-y:hidden;}

}
/**/ 


.button {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;	
}

.button-group li{	
	padding-top: 3%;
}

.button-group a{
	color: rgba(0, 0, 0, 1);
	background-color: transparent;
}

.button-group a:hover {
	color: rgba(0, 0, 0, 0.4);
	background-color: transparent;
}

.button-group{
	float: none;
}

@media only screen and (min-width: 40.063em) {
	.button-group{
		float: right;
	}
}

.namelogo {
	padding: 1px 10px 0px 10px;
}

@media only screen and (min-width: 40.063em) {
	.namelogo {
		padding-bottom: 20px;
	}
}

.namelogo h1 {
	font-size: 1.5em;
	font-weight: 600;
	text-align: center;
}

@media only screen and (min-width: 40.063em) {
	.namelogo h1 {
		font-size: 16px;
		text-align: left;
	}
}

@media only screen and (min-width: 64.063em) {
	.namelogo h1 {
		font-size: 24px;
		text-align: left;
	}
}

@media (min-width: 30.313em) and (max-width: 40.750em) {

.hero{

background: url("../img/bzstartbackground_mean_size.png") no-repeat!important;

box-shadow: inset 0px 0px 0 0px rgba(0,0,0,0.15)!important;

     }

}

@media (min-width: 40.751em) and (max-width: 46.625em) {

.hero{

background: url("../img/bzstartbackground_medium_size.png") !important;

     }

}

@media (max-width: 27.500em) {

.hero{

background: url("../img/bzstartbackground_small_size.png") no-repeat!important;

box-shadow: inset 0px 0px 0 0px rgba(0,0,0,0.15)!important;

     }

}

.hero{

background: url("../img/bzstartbackground.png");

background-size: cover;

box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.15);

height: 80%;

}

.intro-text {

padding-top: 40%;

color: rgba(255, 255, 255, 1);

text-align: center;

}

@media (min-width: 20.000em) {

.intro-text{

padding-top: 0%;

}

.intro-text p{
	font-size: 31px!important;
}

}

@media (min-width: 40.063em) {

.intro-text{

padding-top: 10%;

}

}

@media (min-width: 64.063em) {

.intro-text{

padding-top: 18%;

}

}

.intro-text p{
	font-family: 'Shadows Into Light', cursive;
	font-size: 44px;
}

.about, .work, .contact {
	padding: 50px 0 0 0;
}

.about img{
	width: 80%;
	height: 80%;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;	
}

.work img:hover {
	/*opacity: 0.5;*/
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.work li {
	height: 140px;
	overflow: hidden; 
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	opacity: 0.8;
}

footer {
	padding: 0px 0 0px 0;
}

footer a:hover {
	color: rgba(0, 0, 0, 0.4);
	background-color: transparent;
}