
.destak{
	display: none;
}

.linkdestak{
	display:block!important;
}

.about img{
	width: 30%!important;
	height: 30%!important;
}

.intro-text p{
	color:#fff!important;
}

.top-bar-section li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      display: inline-block;
      margin-left: -4px;
    }

    
.hero img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .hero  img {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}