
.destak{
	display: none;
}

.linkdestak{
	display:block!important;
}

.about img{
	width: 30%!important;
	height: 30%!important;
}

.intro-text p{
	color:#fff!important;
}

.top-bar-section li , .top-bar li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      display: inline-block;
      margin-left: -4px;
    }

 .hero{

background: url("../img/Backgroundie8.png")!important;

}

    