@import url(http://fonts.googleapis.com/css?family=Oswald:700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
.mainText{ font-family:'Oswald', Arial, sans-serif; left:600px; tex-align:center; tex-align:-webkit-center; position:relative; top:100px; color:black;font-size:70px; }  
.subText{ font-family:'Droid Serif',Arial, sans-serif; left:350px; tex-align:center; tex-align:-webkit-center;  position:relative; top:110px; color:black;font-size:40px; }

.subTextmin{
  left:500px !important;
}
.subTextminsize{
  left:550px !important;
  font-size:30px; !important;
}
.main{
background:url('/background.jpg') no-repeat;
}

body img {
  height:30%;
  
}
